:root {
  --primary-blue: #2563eb; /* The vibrant blue from the image */
  --primary-green: #10b981;
  --primary-bckgr-green: #ecfdf5;
  --primary-bckgr-blue: #e8effa;
  --gray-border: #d1d5db;
  --label-color: #6b7280;
  --button-blue: #cbddfa;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 15px 0 5px 0;
  color: var(--primary-green);
  font-weight: 300;
}

.form-container {
  width: 100%;
  max-width: 360px;
  font-size: 12px;
}

.hidden {
  visibility: hidden;
  transform: translate(calc(-100% - 290px));
}

.input-group {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  max-width: 320px;
}

.input-group input {
  width: 100%;
  padding: 16px 12px 8px;
  border: 1px solid var(--gray-border);
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
  background: var(--primary-bckgr-green);
  color: black;
}

.input-group label {
  position: absolute;
  left: 12px;
  top: 14px;
  color: var(--label-color);
  font-size: 14px;
  transition: all 0.2s ease;
  pointer-events: none;
  background: var(--primary-bckgr-green);
  padding: 0 4px;
}

/* Floating Animation: Trigger on Focus or when not empty */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px; /* Moves the label above the top border*/
  left: 10px;
  font-size: 12px;
  color: var(--primary-green);
  font-weight: 600;
}

.input-group input:focus {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.1);
}

.exp-group {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 220px;
}

.exp-group input {
  width: 100%;
  padding: 16px 12px 8px;
  border: 1px solid var(--gray-border);
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
  background: var(--primary-bckgr-blue);
  color: black;
}
.exp-group label {
  position: absolute;
  left: 12px;
  top: 16px;
  color: var(--label-color);
  font-size: 14px;
  transition: all 0.2s ease;
  pointer-events: none;
  background: var(--primary-bckgr-blue);
  padding: 0 4px;
}
.exp-button {
  position: absolute;
  font-size: 32px;
  right: -25px;
  height: 51px;
  width: 51px;
  border-radius: 12px;
  border: none;
  background-color: var(--button-blue);
  top: 50%;
  transform: translateY(-50%);
}

.exp-group input:focus + label,
.exp-group input:not(:placeholder-shown) + label {
  top: -8px; /* Moves the label above the top border*/
  left: 10px;
  font-size: 12px;
  color: var(--primary-blue);
  font-weight: 600;
}

.exp-group input:focus {
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.1);
}

ul {
  width: 100%;
  max-width: 320px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: right;
}

.exp-btn {
  height: 100%;
  margin-right: 20px;
  background: transparent;
  border: 2px solid var(--primary-bckgr-blue);
  border-radius: 12px;
}

i.bi {
  pointer-events: none; /* this make the button event listner work*/
  color: rgb(255, 102, 102);
  font-size: 16px;
}

.results {
  width: 100%;
  display: flex; /* Makes the direct children flex items arranged in a row */
  justify-content: space-between; /* Optional: Distributes space evenly between the items (pushing one to the far right) */
  align-items: center; /* Optional: Aligns items vertically in the center */
  max-width: 320px;
}

#expense-list {
  margin-top: 20px;
}
#net-sales {
  border-bottom: 1px solid #000;
  padding-bottom: 2px; /* Small space between text and line */
  display: inline-block; /* Allows width customization */
  padding-left: 3px; /* Extends line slightly left */
  padding-right: 3px; /* Extends line slightly right */
}
#net-cash {
  border-bottom: 1px solid #000;
  padding-bottom: 2px; /* Small space between text and line */
  display: inline-block; /* Allows width customization */
  padding-left: 3px; /* Extends line slightly left */
  padding-right: 3px; /* Extends line slightly right */
}
#total-drawer {
  border-bottom: 3px double #000;
  padding-bottom: 1px;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}

.difference {
  margin-top: 20px;
}

.keypad-container {
  /* max-width: 150px; */
  width: 100%;
  margin: 0 auto;
  display: none;
}
@media (max-width: 768px) {
  .keypad-container {
    display: block;
  }
  .input-group {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 4px 4px 4px;
    height: 20px;
  }

  .input-group input {
    width: 100%;
    height: 80%;
    padding: 8px 8px 8px;
  }

  .input-group label {
    position: absolute;
    left: 20px;
    top: 12px;
    color: var(--label-color);
    font-size: 14px;
    transition: all 0.2s ease;
    pointer-events: none;
    background: var(--primary-bckgr-green);
    padding: 0 4px;
  }

  .exp-group {
    width: 100%; /* Full width for mobile */
    text-align: center; /* Center horizontally */
    padding: 4px 0; /* Small padding for touch space */
    background: #f5f5f5;
  }

  .exp-group input {
    width: 100%;
    height: 100%;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    display: inline-block; /* Allow horizontal centering */
    vertical-align: middle; /* Align with other inline elements */
    height: 28px; /* Small height for mobile */
    font-size: 14px; /* Readable text size */
    padding: 2px 6px; /* Minimal padding */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .exp-group label {
    left: 20px;
    top: 10px;
    padding: 0px 4px;
  }
  .exp-button {
    font-size: 18px;
    right: 0px;
    height: 26px;
    width: 26px;
    border-radius: 4px;
  }
  i.bi {
    font-size: 10px;
  }
  .difference {
    margin-top: 10px;
  }
}

.keypad {
  background: #ffffff;
  margin: auto;
  position: relative;
  width: 300px;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.25s ease;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.3);
}

.funcKeys {
  display: flex;
  width: 100%;
}
.funcKeys > button {
  flex: 1;
  aspect-ratio: 4;
  border-radius: 5px;
  font-size: 1.25rem;
  border-color: var(--gray-border);
}

.numpad {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
}

.num {
  width: 100%;
  aspect-ratio: 3;
  border-radius: 12px;
  font-size: 1.25rem;
  border-color: rgba(from var(--primary-green) r g b / 0.1);

  /* The inner shadow effect */
  box-shadow:
    inset 5px 5px 25px 1px rgba(from var(--primary-green) r g b / 0.1),
    inset -5px -5px 25px 1px rgba(from var(--primary-green) r g b / 0.1); /*Adjust values as needed*/
}
.num:active {
  box-shadow:
    inset 5px 5px 5px 15px rgba(from var(--primary-blue) r g b / 0.1),
    inset -5px -5px 5px 15px rgba(from var(--primary-blue) r g b / 0.1);
}
.num:nth-child(10) {
  grid-column: 2;
}
.num:nth-child(11) {
  grid-column: 3;
}
.period {
  font-weight: 900;
}

input,
button,
select,
textarea {
  font-family: inherit;
}
